<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="System.Properties.Settings.C__USERS_ADMINISTRATOR_DESKTOP_MINI_CASHIERING_SYSTEM_IN_CSHARP_MINI_CASHIERING_SYSTEM_IN_CSHARP_MINICASHIERING_MDFConnectionString" connectionString="Data Source=.;Initial Catalog=&quot;C:\USERS\ADMINISTRATOR\DESKTOP\MINI CASHIERING SYSTEM IN CSHARP\MINI CASHIERING SYSTEM IN CSHARP\MINICASHIERING.MDF&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="System.Properties.Settings.association_NAJM_ELFATHConnectionString" connectionString="Data Source=.;Initial Catalog=association_NAJM_ELFATH;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="System.Properties.Settings.dbminConnectionString" connectionString="Data Source=.;Initial Catalog=dbmin;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="dbminEntities" connectionString="metadata=res://*/entity.csdl|res://*/entity.ssdl|res://*/entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=dbmin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>